.transaction-list {
  .date-group {
    font-size: 1.1rem;
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      background-image: linear-gradient(to right, rgba(#e7466f, 0.9) 50%, rgba(#e7466f, 0) 100%);;
    }

    span {
      z-index: 10;
      background-color: white;
      padding: 0 10px;
      color: #e7466f;
    }
  }
}
