@import '../../assets/scss/_mixins.scss';

.transaction-entry {
  margin: 0.5rem 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 0;
  background: linear-gradient(#D85D5F 0%, #E84670 100%);
  box-shadow: 0 0 30px rgba(216, 93, 95, 0.7);
  transition: all 0.2s ease-out;
  z-index: 1100;

  &.show {
    height: 440px;
  }

  &.expand {
    height: 100vh;
  }

  .backspace {
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;

    &.show {
      right: 32px;
      opacity: 1;
      visibility: visible;
    }
  }

  .price-input {
    color: #F4F4F4;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: bold;
  }

  .number {
    font-size: 26px;
  }

  .category {
    width: 64px;
    height: 64px;
    flex: 0 0 64px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;

    &.active {
      svg {
        stroke: #452241;
      }
    }
  }
}
