.calendar {
  .day {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .date {
      display: flex;
      flex-direction: column;
      width: 72px;
      flex: 0 0 auto;
      align-items: center;

      &-number {
        font-size: 1.5rem;
      }

      &-name {
        font-size: 0.9rem;
      }

      &-price {
        font-size: 1.2rem;
      }
    }
  }
}
