@import '../assets/scss/_mixins.scss';

.scrollable {
  @include breakpoint-sm {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.app {
  .cards {
    .card {
      background: linear-gradient(135deg, #5f79a7 0%,#5f2264 100%);
      display: flex;
      flex: 1 0 auto;
      margin: 0 10px;
      text-align: center;

      &-title {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
        padding: 15px 0 0;
        margin-bottom: 0;
      }

      &-body {
        padding: 0 0 15px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .transaction-add {
    background-image: linear-gradient( 135deg, #0fcfaf 10%, #02bff8 100%);
    border: none;
  }
}
