@import './assets/scss/_mixins.scss';
$primary: #0c808f;
$secondary: #57ca85;
$danger: #d85d5f;
$info: rgba(0, 0, 0, 0.2);
@import 'bootstrap/scss/bootstrap.scss';

::placeholder {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;

  #root {
    overflow: hidden;
  }
}

.viewport {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  @include breakpoint-sm {
    padding: 0;

    > .row {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .scrollable {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px 0;
  }

  .header {
    order: 0;
  }

  .footer {
    order: 999;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-out;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}
